<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="utf-8" />
		<title>Moja strona Flask</title>
		<link rel="stylesheet" href="./css/styl.css" />
		<link rel="js" href="./js/script.js">
	</head>
	<body>
		<div id="main">
		<!-- To jest komentarz również wieloliniowy -->
			<header>
				<h1>Witaj na stronie poświęconej Flask!
			</header>
			<nav id="mainmenu">
				<div class="button" onclick="alert('to ja, js!')">Wykorzystanie w projektach</div>
				<div class="button">Galeria</div>
				<div class="button">Kontak z nami<div>
			</nav>
			<nav>
				<p>Data projektu</p>
				<div class="button">2024</div>
				<div class="button">2023</div>
				<div class="button">2022</div>
			</nav>
			<main>
				<p>Właściwa wersja tesktu na stronie</p>
				<p>Zawartość powinna się zmieniać wraz z menu</p>
			</main>
			<aside>
				<p id="wyrozniony">Tutaj może być Twoja reklama</p>
			</aside>
			<footer>
				<div>
					<p>Tutaj najważniejsze informacje o naszej stronie
					oraz jej licencji</p>
				</div>
				<div>
					<p>Tutaj będzie mapa dojazdu</p>
				</div>
			</footer>
		</div>
	</body>
</html>